In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\16156\anaconda3\lib\site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in c:\users\16156\anaconda3\lib\site-packages (0.3.6)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\16156\anaconda3\lib\site-packages (from ibm_db_sa) (3.0.4)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\16156\anaconda3\lib\site-packages (from ibm_db_sa) (1.3.9)

In [2]:
#Load sql extension
%load_ext sql

In [3]:
#Connect to IBM Db2 database
%sql ibm_db_sa://*********

DB2/LINUXX8664

In [4]:
#Find the total number of crimes in the CRIME table
%sql select count(ID) from CHICAGO_CRIME_DATA

 * ibm_db_sa://ntl45502:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

In [5]:
#List community areas with per capita income less than 11,000
%sql select COMMUNITY_AREA_NAME, PER_CAPITA_INCOME \
    from CENSUS_DATA \
    where PER_CAPITA_INCOME < 11000

 * ibm_db_sa://ntl45502:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

In [6]:
#List all case numbers for crimes involving minors
%sql select CASE_NUMBER, DESCRIPTION \
    from CHICAGO_CRIME_DATA \
    where DESCRIPTION like '%MINOR%'

 * ibm_db_sa://ntl45502:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'ILLEGAL CONSUMPTION BY MINOR')]

In [7]:
#List all kidnapping crimes involving a child
%sql select * from CHICAGO_CRIME_DATA \
    where PRIMARY_TYPE like '%KIDNAP%' and \
    DESCRIPTION like '%CHILD%'

 * ibm_db_sa://ntl45502:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

In [8]:
#What kinds of crimes were recorded at schools?
%sql select distinct(PRIMARY_TYPE), LOCATION_DESCRIPTION \
    from CHICAGO_CRIME_DATA \
    where LOCATION_DESCRIPTION like '%SCHOOL%'

 * ibm_db_sa://ntl45502:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('PUBLIC PEACE VIOLATION', 'SCHOOL, PRIVATE, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS')]

In [9]:
%sql select "SCHOOL_TYPE" , avg(SAFETY_SCORE) AS AVG_SAFETY_SCORE \
    from CHICAGO_PUBLIC_SCHOOLS \
    group by "SCHOOL_TYPE"

 * ibm_db_sa://ntl45502:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('ES', Decimal('49.520383')),
 ('HS', Decimal('49.623529')),
 ('MS', Decimal('48.000000'))]

In [10]:
#List 5 community area names with the highest % of households below poverty line
%sql select COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY \
    from CENSUS_DATA \
    order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc \
    fetch first 5 rows only

 * ibm_db_sa://ntl45502:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

In [11]:
#Which community area is most crime prone?
%sql select COMMUNITY_AREA_NUMBER, count(COMMUNITY_AREA_NUMBER) as CRIME_OCCURENCE \
    from CHICAGO_CRIME_DATA \
    group by COMMUNITY_AREA_NUMBER \
    order by CRIME_OCCURENCE desc limit 1

 * ibm_db_sa://ntl45502:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(25, Decimal('43'))]

In [12]:
#Use a sub-query to find name of the community area with the highest hardship index
%sql select  COMMUNITY_AREA_NAME, HARDSHIP_INDEX \
    from CENSUS_DATA \
    where HARDSHIP_INDEX = (select max(HARDSHIP_INDEX) from CENSUS_DATA)

 * ibm_db_sa://ntl45502:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale', 98)]

In [13]:
#Use a sub-query to determine the community area name with the most number of crimes
%sql select COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME from CENSUS_DATA \
    where COMMUNITY_AREA_NUMBER in (select COMMUNITY_AREA_NUMBER \
                                    from CHICAGO_CRIME_DATA \
                                    group by COMMUNITY_AREA_NUMBER \
                                    order by count(COMMUNITY_AREA_NUMBER) desc limit 1)

 * ibm_db_sa://ntl45502:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(25, 'Austin')]